<div class="container">
  <div class="row">
    <div class="col-6">
      <%= simple_form_for([@cosplay, @booking]) do  |f| %>
        <%= f.input :date %>
        <%= f.button :submit %>
      <% end %>
    </div>
  </div>
</div>
