<%= link_to cosplays_path do %>
  <i class="fas fa-solid fa-angle-left my-3 btn btn-primary"> Back</i>
<% end %>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-6">
        <%= simple_form_for([@cosplay, @booking]) do  |f| %>
          <%= f.input :date %>
          <%= f.button :submit %>
        <% end %>
    </div>
  </div>
</div>
