
<h1>Cosplays Available</h1>
<br>
<div class="cards">
  <% @cosplays&.each do |c| %>
    <%= link_to cosplay_path(c) do %>
      <div class="card-trip" >
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-trip-infos">
          <div>
            <h2> <%= c.details  %></h2>
          </div>
          <h2 class="card-trip-pricing">€ <%= c.price %> </h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
        </div>
      </div>
    <% end %>
  <% end %>
</div>
